body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('images/Grass_Background.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    text-align: center;
    padding: 20px;
}

.hover-prompt p {
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    color: #000000;
}

.insect-image {
    position: relative;
    display: inline-block;
}

.insect-image img {
    max-width: 50%;
    height: auto;
}

.image-container {
    position: relative;
    display: inline-block;
    margin-bottom: 50px;
}

section {
    margin: 20px auto; 
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    max-width: 1000px;
}

h2 {
    color: #000000;
    margin-bottom: 15px;
}

p, ul {
    color: #000000;
    line-height: 1.6;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

.overlayWingL {
    position: absolute;
    background-color: rgba(0, 0, 255, 0);
    cursor: pointer;
    top: 8%;
    left: 30%;
    width: 16%;
    height: 85%;
}

.overlayWingR {
    position: absolute;
    background-color: rgba(0, 0, 255, 0);
    cursor: pointer;
    top: 8%;
    left: 54%;
    width: 16%;
    height: 85%;
}

.overlayHead {
    position: absolute;
    background-color: rgba(255, 0, 0, 0);
    cursor: pointer;
    top: 42%; 
    left: 49.29%; 
    width: 1.5%; 
    height: 4%;
}

.overlayAntannaeL {
    position: absolute;
    background-color: rgba(255, 0, 0, 0);
    cursor: pointer;
    top: 14%; 
    left: 48%; 
    width: 4%; 
    height: 26%;
}

.overlayAntannaeR {
    position: absolute;
    background-color: rgba(255, 0, 0, 0);
    cursor: pointer;
    top: 17%; 
    left: 46%; 
    width: 8%; 
    height: 14%;
}

.overlayThorax {
    position: absolute;
    background-color: rgba(0, 255, 0, 0);
    cursor: pointer;
    top: 48%; 
    left: 49.29%;
    width: 1.79%; 
    height: 14%;
}

.overlayAbdomen {
    position: absolute;
    background-color: rgba(255, 0, 204, 0); 
    cursor: pointer;
    top: 65%;
    left: 49.64%; 
    width: 1.4%; 
    height: 25%; 
}

.annotations {
    margin-top: 20px;
}

.annotation {
    display: none;
    position: absolute;
    background-color: white;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

#random-fact {
    text-align: center;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    border-radius: 8px;
    max-width: 600px;
}

#show-fact {
    padding: 10px 20px;
    background-color: rgb(25, 173, 30);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

#show-fact:hover {
    background-color: rgb(1, 137, 5);
}
